<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>关注者页面</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
</head>
<body>
<div th:include="nav :: nav"></div>
<div id="mymsg" class="col-sm-2">
    <div style="width: 210px;margin-bottom: 30px">
        <div  onclick="upload_click()" title="点击更改头像">
            <img class="img-circle"  th:src="@{${session.user.getImageBase64()}}" alt="此处应该有my头像"  style="width: 210px;height: 200px" />
        </div>
        <input id="fileupload" onchange="fileupload_change()" type="file" name="image" style="display:none;"/>
        <p class="text-center" th:text="${session.user.name}"></p>
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="/tomain">我的主页</a>
            </li>
            <li class="active">
                <a id="attentioned"  href="/toattented">关注列表</a>
            </li>
            <li>
                <a href="/tomypage">个人中心</a>
            </li>

        </ul>
    </div>
    <!--<div id="attentioned">
        <p class="text-center" th:text="${session.user.name}"></p>
        <button class="btn btn-primary center-block">关注列表</button>
    </div>-->
</div>

<div  th:each="user:${list}"  class="col-sm-6 col-sm-offset-2" style="margin-bottom: 10px">
    <a th:href="'/tootherspage?id='+${user.id}+''">
        <img class="img-circle"  th:src="@{${user.getImageBase64()}}" alt="...此处为被关注者的头像" style="width: 100px;height: 100px"/>
    </a>
    <button class="btn btn-primary" th:onclick="'deleteattented(\''+${user.id}+'\',this)'" >关注中</button>
    <span th:text="${user.name}"></span>
</div>
</body>
<script th:src="@{js/common/jquery.min.js}"></script>
<script th:src="@{js/common/bootstrap.js}"></script>
<script th:src="@{js/attented.js}"></script>
<script th:src="@{js/fileupload.js}"></script>
<script th:src="@{js/common/ajaxfileupload .js}"></script>
</html>