<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>关注者页面</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
</head>
<body>
<div th:include="nav :: nav"></div>
<div  th:each="user:${list}" style="margin-bottom: 10px">
    <a th:href="'/tootherspage?id='+${user.id}+''">
        <img class="img-circle"  th:src="@{${user.getImageBase64()}}" alt="...此处为被关注者的头像" style="width: 100px;height: 100px"/>
    </a>
    <button class="btn btn-primary" th:onclick="'deleteattented(\''+${user.id}+'\',this)'" >关注中</button>
    <span th:text="${user.name}"></span>
</div>
</body>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.js}"></script>
<script>
    function deleteattented(id,button) {
        console.log(id);
        $.ajax({
            url: "/deleteattented",
            type:"get",
            data:"id="+id,
            success:function (msg) {
                if(msg==true){
                    console.log("成功");
                    $(button).parent().hide();
                }else{
                    console.log("失败");
                }
                return false;
            }
        });
        return false;
    }
</script>
</html>