<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>deliverytwitter</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
</head>
<body>
<div th:include="nav :: nav"></div>
<h4 class="text-center">发推</h4>
<form  class="col-sm-8 col-sm-offset-2" action="/tomain" id="myform" method="post" onsubmit="return deliverytwitter()">
    <input class="form-control" type="text" name="title" id="title" placeholder="请输入标题"/>
    <textarea style="resize: none" class="form-control" cols="20" rows="10"  name="content" id="content" placeholder="请输入文本"/>
    <button type="submit" id="submit" class="btn btn-primary">提交</button>
</form>
</body>
<script th:src="@{js/common/jquery.min.js}"></script>
<script th:src="@{js/common/bootstrap.js}"></script>
<script th:src="@{js/deliverytwitter.js}"></script>
</html>