<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>主页</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
</head>
<body onload="getunread();showMoreTwitter(page++)">
<div th:include="nav :: nav"></div>
<div id="mymsg" class="col-sm-2">
    <div style="width: 210px;margin-bottom: 30px">
        <div  onclick="upload_click()" title="点击更改头像">
            <img class="img-circle"  th:src="@{${session.user.image}}" alt="此处应该有my头像"  style="width: 210px;height: 200px" />
        </div>
        <input id="fileupload" onchange="fileupload_change()" type="file" name="image" style="display:none;" accept="image/*"/>
        <p class="text-center" th:text="${session.user.name}"></p>
        <ul class="nav nav-pills nav-stacked">
            <li class="active">
                <a >我的主页</a>
            </li>
            <li>
                <a id="attentioned"  href="/toattented">关注列表</a>
            </li>
            <li>
                <a href="/tomytwitter">个人中心<span title="您有新消息未读" class="badge"></span></a>
            </li>
        </ul>
    </div>
    <!--<div id="attentioned">
        <p class="text-center" th:text="${session.user.name}"></p>
        <button class="btn btn-primary center-block">关注列表</button>
    </div>-->
</div>

<div id="twitter" class="col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-2 col-lg-5 col-lg-offset-2" style="margin-top: 10px">
    <ul id="twitterList" class="media-list">
        <!--<li th:each="twitter:${list}" class="media">
            <div style="float: left">
                <a title="点击查看他的推文" th:href="'/tootherspage?id='+${twitter.twitter.user.id}+''">
                    <img class="media-object img-circle" th:src="@{${twitter.twitter.user.image}}" alt="此处为头像" style="width: 100px;height: 100px"/>
                </a>
            </div>
            <div class="media-body" th:onclick="'showmodal(\''+${twitter.twitter.id}+'\',\''+${twitter.twitter.title}+'\',\''+${twitter.twitter.user.name}+'\',
            \''+${twitter.twitter.date}+'\',\''+${twitter.twitter.content}+'\')'" >
                <h4 class="media-heading" th:text="${twitter.twitter.title}"></h4>
                <span th:text="${twitter.twitter.user.name}"></span>
                <span th:text="${twitter.twitter.date}"></span>
                <div style="width: 200px;word-break:break-all;">
                    <div th:if="${twitter.twitter.content.length()>30}">
                        <p th:text="${twitter.twitter.content.substring(0,30)+'...' }"></p>
                    </div>
                    <div th:unless="${twitter.twitter.content.length()>30}">
                        <p th:text="${twitter.twitter.content }"></p>
                    </div>
                </div>
            </div>
        </li>-->
    </ul>
    <nav aria-label="...">
        <ul class="pager" style="width: 100%;display: inline-table">
            <li id="more" style="width: 100%;display: inline-table" onclick="showMoreTwitter(page++)" >
                <a style="width: 100%;display: inline-table">更多推文</a>
            </li>
        </ul>
    </nav>
    <div th:include="twittermodelwindow :: twittermodelwindow"></div>
    <div th:include="pictureshowmodal :: pictureshowmodal"></div>
</div>
</body>
<script th:src="@{js/common/jquery.min.js}"></script>
<script th:src="@{js/common/bootstrap.js}"></script>
<script th:src="@{js/common/ajaxfileupload .js}"></script>
<script th:src="@{js/modal-window-twitter.js}"></script>
<script th:src="@{js/index.js}"></script>
<script th:src="@{js/message.js}"></script>
<script th:src="@{js/fileupload.js}"></script>
<script th:src="@{js/picture-show-modal.js}"></script>
<script>
    $("#myModal").on("hidden",function () {
        $(this).removeData();
        $("#mydiv").remove();
    });
</script>
<script>
    var page=1;

</script>
</html>