<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>登录页面</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
</head>
<body>
<div th:include="nav :: nav"></div>
<div class="login-box"  style="width: 50%;margin: 0 auto;">
    <form  id="myform" method="get">
        <div class="form-group" >
            <label class="col-sm-2 control-label" for="email">邮箱:</label>
            <div class="col-sm-10" style="margin-bottom: 20px;position: relative;">
                <input class="form-control" type="text" id="email" name="email" placeholder="请输入邮箱" style="text-indent: 40px"/>
                <span class="glyphicon glyphicon-envelope" style="position: absolute;left: 0;top: 50%;transform: translateX(200%) translateY(-50%)"></span>
            </div>
        </div>

        <div class="form-group" >
            <label class="col-sm-2 control-label" for="password">密码:</label>
            <div class="col-sm-10" style="margin-bottom: 20px">
                <input class="form-control" type="password" id="password"  name="password" placeholder="请输入密码" style="text-indent: 40px"/>
                <span class="glyphicon glyphicon-lock" style="position: absolute;left: 0;top: 50%;transform: translateX(200%) translateY(-50%)"></span>
            </div>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <span id="submit" onclick="login()" class="btn btn-primary" style="width: 100%">提交</span>
            <div id="alert_fail" class="alert alert-danger alert-dismissible"  style="margin-top: 20px" hidden="true">
                <button id="close_alert_fail" type="button" class="close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Error！</strong> 无法登陆账户，原因可能是1.账号或密码错误，2.或者账号尚未激活。.
            </div>
            <div id="alert_success" class="alert alert-success alert-dismissible"  style="margin-top: 20px" hidden="true">
                <button id="close_alert_success" type="button" class="close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success！</strong> 登录成功,正在跳转...
            </div>
        </div>
    </form>
</div>
</body>
<script th:src="@{js/common/jquery.min.js}"></script>
<script th:src="@{js/common/bootstrap.js}"></script>
<script th:src="@{js/login.js}"></script>
</html>