<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>主页</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
</head>
<body>
<div th:include="nav :: nav"></div>
<div id="mymsg" class="col-sm-2">
    <div style="width: 210px;height: 250px;margin-bottom: 30px">
        <img class="img-circle" th:src="@{${session.user.getImageBase64()}}" id="myimage" alt="..此处为自己的头像" style="width: 210px;height: 200px"/>
        <p class="text-center" th:text="${session.user.name}"></p>
        <button id="attentioned" class="btn btn-primary center-block">关注列表</button>
    </div>
    <!--<div id="attentioned">
        <p class="text-center" th:text="${session.user.name}"></p>
        <button class="btn btn-primary center-block">关注列表</button>
    </div>-->
</div>
<div id="twitter" class="col-sm-6 col-sm-offset-2">
    <ul class="media-list">
        <li th:each="twitter:${list}" class="media">
            <div style="float: left">
                <a th:href="'/tootherspage?id='+${twitter.twitter.user.id}+''">
                    <img class="media-object img-circle" th:src="@{${twitter.twitter.user.getImageBase64()}}" alt="此处为头像" style="width: 100px;height: 100px"/>
                </a>
            </div>
            <div class="media-body" th:onclick="'showmodal(\''+${twitter.twitter.id}+'\',\''+${twitter.twitter.title}+'\',\''+${twitter.twitter.user.name}+'\',
            \''+${twitter.twitter.date}+'\',\''+${twitter.twitter.content}+'\')'">
                <h4 class="media-heading" th:text="${twitter.twitter.title}"></h4>
                <span th:text="${twitter.twitter.user.name}"></span>
                <span th:text="${twitter.twitter.date}"></span>
                <div style="width: 200px;word-break:break-all;">
                    <p th:text="${twitter.twitter.content}"></p>
                </div>
            </div>
        </li>
    </ul>
    <div th:include="twittermodelwindow :: twittermodelwindow"></div>
</div>
</body>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.js}"></script>
<script>
    function updatacomment(id){
        $("#mydiv").empty();
        $.ajax({
            url:"/getComment",
            type:"get",
            data:"twitterid="+id,
            dataType:"json",
            success:function (msg) {
                console.log(msg);
                for(var i in msg){
                    console.log(msg[i]);
                    var div=document.createElement("div");
                   /* $(div).attr("class","div");*/
                    var div1=document.createElement("div");
                    /*$(div1).attr("class","col-sm-8");*/
                    $(div1).attr("style","word-break:break-all; word-wrap:break-word ;");

                    var div2=document.createElement("div");
                    /*$(div2).attr("class","col-sm-4");*/

                    var dcontent=document.createElement("p");
                    $(dcontent).html(msg[i].content);
                    $(dcontent).attr("class","text-left");



                    var date=document.createElement("span");
                    $(date).html(msg[i].date+"&nbsp;");

                    var duser=document.createElement("span");
                    $(duser).html(msg[i].user.name);

                    $(div1).append(dcontent);
                    $(div2).append(date,duser);
                    $(div).append(div1,div2);
                    $("#mydiv").append(div);
                }
                return false;
            }
        });
        return false;
    }
    $("#myimage").click(function () {
        location.href="/tomypage";
    });
    $("#attentioned").click(function () {
        location.href="/toattented";
    });
    function showmodal(id,title,username,date,content) {
        console.log(id);

        $("#myModal h4").html(title);
        $("#modal-id").html(id);
        $("#modal-username").html(username);
        $("#modal-date").html(date);
        $("#modal-content p").html(content);
        updatacomment(id);
        $("#myModal").modal("show");
    }
    $("#myModal").on("hidden",function () {
        $(this).removeData();
        $("#mydiv").remove();
    });
    
    function addcomment() {
        var id=$("#modal-id").html();
        $.ajax({
            url:"/addComment",
            type:"get",
            data:{
                content:$("#comment").val(),
                twitter:$("#modal-id").html()
            },
            success:function (msg) {
                if(msg==true){
                    updatacomment($("#modal-id").html());
                    $("#comment").val("");
                }
                return false;
            }
        });
        return false;
    }
    $("#addcomment").click(function () {
        addcomment();
    });
</script>
</html>