<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
</head>
<body>
<div th:include="nav :: nav"></div>
<div id="mymsg" class="col-sm-4">
    <img th:src="@{'img/'+${session.user.image}}" id="myimage" alt="..此处为自己的头像" class="img-circle"
         style="width: 100px;height: 100px"/>
    <span th:text="${session.user.name}"></span>
    <div id="attentioned">
        <span>关注</span>
    </div>
</div>
<div id="twitter" class="col-sm-8">
    <ul class="media-list">
        <li th:each="twitter:${list}" class="media">
            <div style="float: left">
                <a href="#">
                    <img class="media-object img-circle" th:src="@{'img/'+${twitter.user.image}}" alt="此处为头像" style="width: 100px;height: 100px"/>
                </a>
            </div>
            <div class="media-body" th:onclick="'showmodal(\''+${twitter.title}+'\',\''+${twitter.user.name}+'\',
            \''+${twitter.date}+'\',\''+${twitter.content}+'\')'">
                <h4 class="media-heading" th:text="${twitter.title}"></h4>
                <span th:text="${twitter.user.name}"></span>
                <span th:text="${twitter.date}"></span>
                <div style="width: 200px;word-break:break-all;">
                    <p th:text="${twitter.content}"></p>
                </div>
            </div>
        </li>
    </ul>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel" ></h4>
                </div>
                <div class="modal-body">
                    <span id="modal-username"></span>
                    <span id="modal-date"></span>
                    <div id="modal-content" style="width: 200px;word-break:break-all;">
                        <p></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">
                        回复
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.js}"></script>
<script>
    $("#myimage").click(function () {
        location.href="/tomypage";
    });
    $("#attentioned").click(function () {
        location.href="/toattented";
    });
    function showmodal(title,username,date,content) {
        $("#myModal h4").html(title);
        $("#modal-username").html(date);
        $("#modal-date").html(date);
        $("#modal-content p").html(content);
        $("#myModal").modal("show");
    }
    $("#myModal").on("hidden",function () {
        $(this).removeData();
    });
</script>
</html>