<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>主页</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
</head>
<body>
<div th:include="nav :: nav"></div>
<div id="mymsg" class="col-sm-2">
    <div style="width: 210px;height: 250px;margin-bottom: 30px">
        <img class="img-circle" th:src="@{${session.user.getImageBase64()}}" id="myimage" onclick="tomypage()" alt="..此处为自己的头像" style="width: 210px;height: 200px"/>
        <p class="text-center" th:text="${session.user.name}"></p>
        <a id="attentioned" class="btn btn-primary center-block" href="/toattented">关注列表</a>
    </div>
    <!--<div id="attentioned">
        <p class="text-center" th:text="${session.user.name}"></p>
        <button class="btn btn-primary center-block">关注列表</button>
    </div>-->
</div>
<div id="twitter" class="col-sm-6 col-sm-offset-2">
    <ul class="media-list">
        <li th:each="twitter:${list}" class="media">
            <div style="float: left">
                <a th:href="'/tootherspage?id='+${twitter.twitter.user.id}+''">
                    <img class="media-object img-circle" th:src="@{${twitter.twitter.user.getImageBase64()}}" alt="此处为头像" style="width: 100px;height: 100px"/>
                </a>
            </div>
            <div class="media-body" th:onclick="'showmodal(\''+${twitter.twitter.id}+'\',\''+${twitter.twitter.title}+'\',\''+${twitter.twitter.user.name}+'\',
            \''+${twitter.twitter.date}+'\',\''+${twitter.twitter.content}+'\')'" >
                <h4 class="media-heading" th:text="${twitter.twitter.title}"></h4>
                <span th:text="${twitter.twitter.user.name}"></span>
                <span th:text="${twitter.twitter.date}"></span>
                <div style="width: 200px;word-break:break-all;">
                    <p th:text="${twitter.twitter.content}"></p>
                </div>
            </div>
        </li>
    </ul>
    <div th:include="twittermodelwindow :: twittermodelwindow"></div>
</div>
</body>
<script th:src="@{js/common/jquery.min.js}"></script>
<script th:src="@{js/common/bootstrap.js}"></script>
<script th:src="@{js/modal-window-twitter.js}"></script>
<script th:src="@{js/main.js}"></script>
<script>
    $("#myModal").on("hidden",function () {
        $(this).removeData();
        $("#mydiv").remove();
    });
</script>
</html>