<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
    <title>我的主页</title>
</head>
<body>
<div th:include="nav :: nav"></div>
<div>
    <img src="" alt="此处应该有my头像" />
    <button id="upload" class="btn primary-btn">更改头像</button>
    <input id="fileupload" type="file" name="image" />
    <span th:text="${session.user.name}"></span>
</div>
<div>
    <!---此处是显示个人推特的地方-->
    <div th:each="twitter:${list}">
        <h4 class="media-heading" th:text="${twitter.title}"></h4>
        <span th:text="${twitter.date}"></span>
        <span th:text="${twitter.content}"></span>
    </div>

</div>
</body>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.js}"></script>
<script th:src="@{js/ajaxfileupload .js}"></script>
<script>
    $("#upload").on("click",function () {
        $("#fileupload").click();
    });
    $("#fileupload").on('change',function () {
        $.ajaxFileUpload({
           url:"/setImage",
           secureuri:false,
           fileElementId:'fileupload',
           success:function (msg) {
               if(msg==false){
                   alert("false");
               }else{
                   alert("success");
               }
            },
            error:function (msg) {
                if(msg==false){
                    alert("false");
                }else{
                    alert("success");
                }
            }
       });
    });
</script>
</html>