<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>我的推文</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
</head>
<body>
<div th:include="nav :: nav"></div>
<div class="col-sm-2">
    <div  style="width: 210px;margin-bottom: 30px">
        <div  onclick="upload_click()" title="点击更改头像">
            <img class="img-circle"  th:src="@{${session.user.getImageBase64()}}" alt="此处应该有my头像"  style="width: 210px;height: 200px" />
        </div>
        <input id="fileupload" onchange="fileupload_change()" type="file" name="image" style="display:none;"/>
        <p class="text-center" th:text="${session.user.name}"></p>
        <ul class="nav nav-pills nav-stacked">
            <li class="active">
                <a href="/tomypage">我的推文</a>
            </li>
            <li>
                <a href="/tomyinform">我的信息</a>
            </li>
            <li>
                <a href="/tomypage">返回主页</a>
            </li>
        </ul>
    </div>
</div>

<div class="col-sm-6 col-sm-offset-2">
    <!---此处是显示个人推特的地方-->
    <div th:each="twitter:${list}" style="margin-bottom: 10px" th:onclick="'showmodal(\''+${twitter.id}+'\',\''+${twitter.title}+'\',\''+${twitter.user.name}+'\',
            \''+${twitter.date}+'\',\''+${twitter.content}+'\')'" >
        <h4 class="media-heading" th:text="${twitter.title}"></h4>
        <span th:text="${twitter.user.name}"></span>
        <span th:text="${twitter.date}"></span>
        <div style="width: 200px;word-break:break-all;">
            <p th:text="${twitter.content}"></p>
        </div>
    </div>
    <div th:include="twittermodelwindow :: twittermodelwindow"></div>
</div>
</body>
<script th:src="@{js/common/jquery.min.js}"></script>
<script th:src="@{js/common/bootstrap.js}"></script>
<script th:src="@{js/common/ajaxfileupload .js}"></script>
<script th:src="@{js/modal-window-twitter.js}"></script>
<script th:src="@{js/fileupload.js}"></script>
</html>