<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>他的主页</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
    <script th:src="@{js/common/jquery.min.js}"></script>
    <script th:src="@{js/common/bootstrap.js}"></script>
    <script th:src="@{js/modal-window-twitter.js}"></script>
    <script th:src="@{js/otherspage.js}"></script>
    <script th:src="@{js/picture-show-modal.js}"></script>
    <script>
        var page=1;
    </script>
</head>
<body th:onload="'showMoreTwitter(\''+${attenteduser.user.id}+'\',page++)'">
<div th:include="nav :: nav"></div>
<div class="col-sm-2">
    <div style="width: 210px;margin-bottom: 30px">
        <img class="img-circle" th:src="@{${attenteduser.user.image}}" alt="此处应该有my头像" style="width: 210px;height: 200px" />
        <div th:if="${session.user.id != attenteduser.user.id }" style="margin-top:5px;margin-bottom: 5px">
            <button class="btn btn-primary center-block" th:if="${attenteduser.attented }"  th:onclick="'deleteattented(\''+${attenteduser.user.id}+'\',this)'" >关注中</button>
            <button class="btn btn-primary center-block" th:unless="${attenteduser.attented }"  th:onclick="'addattented(\''+${attenteduser.user.id}+'\',this)'" >关注</button>
        </div>
        <p class="text-center" th:text="${attenteduser.user.name}"></p>
        <p class="text-center"><span>他的性别：&nbsp;</span>
            <span th:if="${attenteduser.user.gender == '1' }" >男</span>
            <span th:unless="${attenteduser.user.gender == '1'}" >女</span>
        </p>
        <p class="text-center">他的生日：&nbsp;<span th:text="${attenteduser.user.birthday}"></span></p>

    </div>
</div>
<div class="col-sm-6 col-sm-offset-2">
    <!---此处是显示他个人推特的地方-->
<!--    <div th:each="twitter:${list}" style="margin-bottom: 10px" th:onclick="'showmodal(\''+${twitter.twitter.id}+'\',\''+${twitter.twitter.title}+'\',\''+${twitter.twitter.user.name}+'\',
            \''+${twitter.twitter.date}+'\',\''+${twitter.twitter.content}+'\')'" >
        <h4 class="media-heading" th:text="${twitter.twitter.title}"></h4>
        <span th:text="${twitter.twitter.user.name}"></span>
        <span th:text="${twitter.twitter.date}"></span>
        <div style="width: 200px;word-break:break-all;">
            <div th:if="${twitter.twitter.content.length()>30}">
                <p th:text="${twitter.twitter.content.substring(0,30)+'...'}"></p>
            </div>
            <div th:unless="${twitter.twitter.content.length()>30}">
                <p th:text="${twitter.twitter.content}"></p>
            </div>
        </div>
    </div>-->
    <ul id="twitterList" class="media-list">

    </ul>
    <nav aria-label="...">
        <ul class="pager" style="width: 100%;display: inline-table">
            <li id="more" style="width: 100%;display: inline-table" th:onclick="'showMoreTwitter(\''+${attenteduser.user.id}+'\',page++)'" >
                <a style="width: 100%;display: inline-table">更多推文</a>
            </li>
        </ul>
    </nav>
</div>
<div th:include="twittermodelwindow :: twittermodelwindow"></div>
<div th:include="pictureshowmodal :: pictureshowmodal"></div>
</body>
</html>