<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>他的主页</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.css}"/>
</head>
<body>
<div th:include="nav :: nav"></div>
<div class="col-sm-2">
    <div style="width: 210px;height: 250px;margin-bottom: 30px">
        <img class="img-circle" th:src="@{${attenteduser.user.getImageBase64()}}" alt="此处应该有my头像" style="width: 210px;height: 200px" />
        <button class="btn btn-primary center-block" th:if="${attenteduser.attented }"  th:onclick="'deleteattented(\''+${attenteduser.user.id}+'\',this)'" >关注中</button>
        <button class="btn btn-primary center-block" th:unless="${attenteduser.attented }"  th:onclick="'addattented(\''+${attenteduser.user.id}+'\',this)'" >关注</button>
        <p class="text-center" th:text="${attenteduser.user.name}"></p>
    </div>
</div>
<div class="col-sm-6 col-sm-offset-2">
    <!---此处是显示他个人推特的地方-->
    <div th:each="twitter:${list}" style="margin-bottom: 10px" th:onclick="'showmodal(\''+${twitter.twitter.id}+'\',\''+${twitter.twitter.title}+'\',\''+${twitter.twitter.user.name}+'\',
            \''+${twitter.twitter.date}+'\',\''+${twitter.twitter.content}+'\')'" >
        <h4 class="media-heading" th:text="${twitter.twitter.title}"></h4>
        <span th:text="${twitter.twitter.user.name}"></span>
        <span th:text="${twitter.twitter.date}"></span>
        <div style="width: 200px;word-break:break-all;">
            <p th:text="${twitter.twitter.content}"></p>
        </div>
    </div>
    <div th:include="twittermodelwindow :: twittermodelwindow"></div>
</div>

</body>
<script th:src="@{js/common/jquery.min.js}"></script>
<script th:src="@{js/common/bootstrap.js}"></script>
<script th:src="@{js/modal-window-twitter.js}"></script>
<script th:src="@{js/otherspage.js}"></script>
</html>