<div th:fragment="pictureshowmodal" xmlns:th="http://www.w3.org/1999/xhtml">
    <!--此处为模态窗-->
    <div class="modal fade" id="pictureShowModal"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="position:relative;padding: 0 ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="position: absolute;top: 10px;right: 10px">
                        &times;
                    </button>
                    <img id="imgShow" style="width: 100%" />
                    <button type="button" class="close"  style="position: absolute;top: 50%;left: 10px;transform: translateY(-50%);font-size: xx-large" onclick="prevPicture()">
                        &lt;
                    </button>
                    <button type="button" class="close"  style="position: absolute;top: 50%;right: 10px;transform: translateY(-50%);font-size: xx-large" onclick="nextPicture()">
                        &gt;
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>